<button mat-raised-button color="primary" (click)="getPlaylistsClick()">
  Get Playlists
</button>

<p>Here's your token: {{ token }}</p>
<div class="d-flex flex-wrap align-items-center justify-content-center">
  <div class="w-25 m-2" *ngFor="let playlist of playlists">
    <mat-card
      ><mat-card-title class="text-truncate">{{
        playlist.name
      }}</mat-card-title>
      <img mat-card-image src="{{ playlist.images[0].url }}" />
    </mat-card>
    <mat-card-content>{{ playlist.description }}</mat-card-content>
  </div>
</div>

<router-outlet></router-outlet>
